<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <!-- edit details of Lesson, or Remove it -->

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <f:event type="preRenderView"
                     listener="#{editLessonBean.loadGottenId}"/>

            <h:form rendered="#{editLessonBean.lesson != null}">
                <div>
                    <table border="1" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['lesson.day']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editLessonBean.date}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['lesson.time']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editLessonBean.time}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['lesson.location']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editLessonBean.lesson.location}"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <h:commandButton value="#{msg['general.save']}" action="#{editLessonBean.save()}"/>


                <h:commandButton styleClass="deleteButton" value="#{msg['general.delete']}"
                                 action="#{editLessonBean.delete(editLessonBean.lesson.id)}"
                rendered="#{editLessonBean.canDelete()}"/>



            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
