<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<f:view>
    <h:head>
        <h:outputStylesheet name="css/loginRegister.css"/>
    </h:head>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">

        <ui:define name="content">

            <f:event type="preRenderView"
                     listener="#{addLessonBean.loadGottenId}"/>

            <h:form rendered="#{addLessonBean.course.teacher.id == loginBean.userPerson.id}">

                <h1> #{msg['lesson.add']}</h1>

                <div class="registerDiv">

                    <h:form styleClass="registerForm">
                        <table class="registerTable">
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.singular']}"/>
                                </td>
                                <td>
                                    <h:link outcome="#{navigator.navigate('course/show')}id=#{addLessonBean.course.id}">
                                        <h:outputText value="#{addLessonBean.course.code}"/>
                                    </h:link>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['lesson.day']}"/>
                                </td>
                                <td>
                                    <h:inputText value="#{addLessonBean.date}"
                                                 pt:placeholder="yyyy-MM-dd"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['lesson.time']}"/>
                                </td>
                                <td>
                                    <h:inputText value="#{addLessonBean.time}"
                                                 pt:placeholder="hh:mm:ss (24h format)"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['lesson.location']}"/>
                                </td>
                                <td>
                                    <h:inputText value="#{addLessonBean.location}"/>
                                </td>
                            </tr>
                        </table>
                        <br/>

                        <br/>

                        <h:commandButton
                                value="#{msg['lesson.add']}"
                                action="#{addLessonBean.addLesson}"/>

                        <h:messages errorClass="error"/>
                    </h:form>

                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>

</html>
