<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">

            <f:event type="preRenderView"
                     listener="#{showLessonBean.loadGottenId}"/>

            <h1>
                <h:outputText value="#{msg['lesson.singular']}"/>
            </h1>

            <h:form rendered="#{showLessonBean.lesson == null}">
                <h:outputText value="#{param['id']} is not a valid lesson."/>
            </h:form>


            <h:form rendered="#{showLessonBean.lesson != null}">

                <table border="1" cellpadding="5" cellspacing="0" class="leftTable">
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.singular']}"/>
                        </td>
                        <td>
                            <h:link outcome="#{navigator.navigate('course/show')}id=#{showLessonBean.lesson.course.id}">
                                <h:outputText
                                        value="#{showLessonBean.lesson.course.name}"/>
                            </h:link>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['lesson.day']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showLessonBean.lesson.date}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['lesson.time']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showLessonBean.lesson.time}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['lesson.location']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showLessonBean.lesson.location}"/>
                        </td>
                    </tr>
                </table>


                <h:panelGroup rendered="#{showLessonBean.lesson.course.teacher.id ==
                loginBean.userPerson.id}"
                              styleClass="rightTable" layout="block">
                    <h:dataTable value="#{showLessonBean.lesson.course.students}" var="s"
                                 border="1" cellpadding="5" cellspacing="0">

                        <h:column rendered="false">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{s.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.name']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('student/show')}id=#{s.id}">
                                <h:outputText value="#{s.name}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.phoneNumber']}"/>
                            </f:facet>
                            <h:outputText value="#{s.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.emailAddress']}"/>
                            </f:facet>
                            <h:outputText value="#{s.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.city']}"/>
                            </f:facet>
                            <h:outputText value="#{s.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['attendance.attended']}"/>
                            </f:facet>

                            <h:commandButton
                                    rendered="#{!showLessonBean.studentAttended(s.id)}"
                                    value="[ ]" type="submit"
                                    action="#{showLessonBean.addStudentToLesson(s.id)}"
                            />
                            <h:commandButton
                                    rendered="#{showLessonBean.studentAttended(s.id)}"
                                    value="[X]"
                                    action="#{showLessonBean.removeStudentFromLesson(s.id)}"
                            />

                        </h:column>
                    </h:dataTable>
                </h:panelGroup>

                <div class="clearer"/>


                <p/>

                <h:link rendered="#{showLessonBean.lesson.course.teacher.id ==
                loginBean.userPerson.id}" outcome="#{navigator.navigate('lesson/edit')}id=#{showLessonBean.lesson.id}">
                    <h:outputText value="#{msg['general.edit']}"/>
                </h:link>

            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
