#footer {
    border-top: 1px solid black;
    padding-top: 10px;
    font-style: italic;
    margin-top: 10px;
}

td.label {
    font-weight: bold;
}

.headerLinks {
    background-color: burlywood;
    margin: -10px 0 20px -10px;
    width: 100%;
    padding: 10px;
}

.headerLinks a {
    padding: 5px;
    text-decoration: none;
}

.headerLinks a:hover {
    background-color: #ff9700;
}

body {
    margin: 0;
    padding: 10px;
}

.navbarRight {
    float: right;
}

li.error {
    color: red;
    list-style-type: none;
}

th[scope=col] {
    font-weight: bold;
    text-decoration: underline;
}

.leftTable {
    float: left;
}

.rightTable {
    float: right;
}

.clearer {
    clear: both;
}

.userProfileManagementLinks {
    margin: 30px 10px 20px;
}

.greenBg {
    background-color: lightgreen;
}

.redBg {
    background-color: red;
}

.saveButton {

}

.deleteButton {
    float: right;
}