.registerLoginDiv, .registerDiv {
    text-align: center;
}

.registerLoginTable {
    background-color: #c0ffd7;
}

.registerTable {
    background-color: #a9a9a9;
}

.registerLoginTable, .registerTable {
    margin: auto;
}

.registerLoginTable td, .registerTable td {
    padding: 7px;
    text-align: left;
}
