<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">

            <h:form rendered="#{loginBean.hasPersonAttendanceAccess(param['student'])}">

                <f:event type="preRenderView"
                         listener="#{attendanceStatsBean.loadAttendanceBasedOnGetParams}"/>
                <f:event type="preRenderView"
                         listener="#{showPersonBean.loadGottenId('student')}"/>

                <h1>
                    <h:outputText value="#{msg['attendance.attendance']}:
#{showPersonBean.person.name}"/>
                </h1>

                <h:form rendered="#{attendanceStatsBean.lessonsCoveredBySearch == null}">

                    No attendances found

                </h:form>


                <h:form rendered="#{attendanceStatsBean.lessonsCoveredBySearch != null}">

                    <h:dataTable value="#{attendanceStatsBean.lessonsCoveredBySearch}"
                                 var="a" border="1" cellpadding="5" cellspacing="0">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.name']}"/>
                            </f:facet>
                            <h:link value="#{a.course.name}"
                                    outcome="#{navigator.navigate('course/show')}id=#{a.course.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.singular']}"/>
                            </f:facet>
                            <h:link value="#{a.date} #{a.time}"
                                    outcome="#{navigator.navigate('lesson/show')}id=#{a.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.location']}"/>
                            </f:facet>

                            <h:outputText value="#{a.location}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['attendance.attended']}"/>
                            </f:facet>

                            <h:panelGroup layout="block" styleClass="greenBg"
                                          style="padding: 10px; margin: auto; width: 0px;"
                                          rendered="#{attendanceStatsBean.personAttendedWhoHasId(a, showPersonBean.person.id)}">

                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="redBg"
                                          style="padding: 10px; margin: auto; width: 0px;"
                                          rendered="#{!attendanceStatsBean.personAttendedWhoHasId(a, showPersonBean.person.id)}">

                            </h:panelGroup>

                        </h:column>
                    </h:dataTable>

                    <hr/>

                    <h:outputText value="#{msg['attendance.attended']}
#{attendanceStatsBean.totalAttendedLessons(showPersonBean.person.id)}/
#{attendanceStatsBean.totalApplicableLessons()}"/>

                </h:form>
            </h:form>

        </ui:define>
    </ui:composition>
</f:view>
</html>
