<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <f:event type="preRenderView"
                     listener="#{editStudentBean.loadGottenId}"/>

            <h:form rendered="#{editStudentBean.student != null}">
                <div>
                    <table border="1" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['general.name']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editStudentBean.student.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['general.personalNumber']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editStudentBean.student.PNr}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['general.city']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editStudentBean.student.city}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['general.emailAddress']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editStudentBean.student.email}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['general.phoneNumber']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editStudentBean.student.phone}"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <br/>
                <br/>
                <h:commandButton value="#{msg['general.save']}" action="#{editStudentBean.save()}"/>

                <h:commandButton styleClass="deleteButton" value="#{msg['general.delete']}"
                                 action="#{editStudentBean.delete(editStudentBean.student.id)}"
                                 rendered="#{editStudentBean.canDelete()}"/>

                <br/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
