<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<f:view>
    <h:head>
        <h:outputStylesheet name="css/loginRegister.css"/>
    </h:head>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">

        <ui:define name="content">
            <h:form rendered="#{loginBean.administratorAccess}">

                <h1> #{msg['register.student.registerNewStudent']}</h1>
                <div class="registerDiv">

                    <h:form styleClass="registerForm">
                        <table class="registerTable">
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['general.name']}"/>
                                </td>
                                <td>
                                    <h:inputText id="sName"
                                                 value="#{addStudentBean.name}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel
                                            value="#{msg['general.personalNumber']}"/>
                                </td>
                                <td>
                                    <h:inputText style="display:inline;" id="sPnr"
                                                 value="#{addStudentBean.PNr}"
                                                 pt:placeholder="yyyyMMdd-xxxx"/> yyyyMMdd-xxxx
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['general.phoneNumber']}"/>
                                </td>
                                <td>                                                                    <!-- TODO Check this validation -->
                                    <h:inputText id="sPhone"
                                                 value="#{addStudentBean.phone}"
                                                 pt:placeholder="+46 123 45 67 89 "/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel
                                            value="#{msg['general.emailAddress']}"/>
                                </td>
                                <td>
                                    <h:inputText id="sEmail"
                                                 value="#{addStudentBean.email}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['general.city']}"/>
                                </td>
                                <td>
                                    <h:inputText id="sCity"
                                                 value="#{addStudentBean.city}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['login.username']}"/>
                                </td>
                                <td>
                                    <h:inputText value="#{addStudentBean.username}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['login.password']}"/>
                                </td>
                                <td>
                                    <h:inputSecret value="#{addStudentBean.password}"/>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <h:commandButton
                                value="#{msg['register.students.add']}"
                                action="#{addStudentBean.addStudent}"/>

                        <h:messages errorClass="error"/>

                    </h:form>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>

</html>
