<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">

            <h:form rendered="#{loginBean.loggedIn}">

                <f:event type="preRenderView"
                         listener="#{showPersonBean.loadGottenId}"/>

                <h1>
                    <h:outputText value="#{msg['student.singular']}"/>
                </h1>

                <h:form rendered="#{showPersonBean.person == null}">
                    <h:outputText value="#{param['id']} is not a valid user."/>
                </h:form>


                <h:form rendered="#{showPersonBean.person != null}">

                    <h:link value="#{msg['general.edit']}"
                            outcome="#{navigator.navigate('student/edit')}id=#{showPersonBean.person.id}"
                            rendered="#{showPersonBean.hasAccessToEdit(showPersonBean.person.id)}"
                            styleClass="userProfileManagementLinks"/>

                    <h:link value="#{msg['attendance.attendance']}"
                            outcome="#{navigator.navigate('student/attendance')}student=#{showPersonBean.person.id}"
                            rendered="#{loginBean.hasPersonAttendanceAccess(param['id'])}"
                            styleClass="userProfileManagementLinks"/>

                    <table border="1" cellpadding="5" cellspacing="0" class="leftTable" style="">
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.name']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.phoneNumber']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.phone}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.emailAddress']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.email}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.city']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.city}"/>
                            </td>
                        </tr>
                    </table>

                    <h3 style="margin-top: 150px;"><h:outputText value="#{msg['courses.title']}"/></h3>
                    <h:dataTable
                            value="#{showPersonBean.person.courses}"
                            var="c" border="1" cellpadding="5" cellspacing="0" style="margin-top: 20px;">

                        <h:column rendered="false">
                            <f:facet name="header">
                                ID
                            </f:facet>
                            <h:outputText value="#{c.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.name']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('course/show')}id=#{c.id}">
                                <h:outputText value="#{c.name}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.code']}"/>
                            </f:facet>
                            <h:outputText value="#{c.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.language']}"/>
                            </f:facet>
                            <h:outputText value="#{c.language}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.maxStudents']}"/>
                            </f:facet>
                            <h:outputText value="#{c.maxStudents}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.startDay']}"/>
                            </f:facet>
                            <h:outputText value="#{c.startDay}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.level']}"/>
                            </f:facet>
                            <h:outputText value="#{c.level.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['teacher.singular']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('teacher/show')}id=#{c.teacher.id}">
                                <h:outputText value="#{c.teacher.name}"/>
                            </h:link>
                        </h:column>
                        <h:column rendered="#{loginBean.hasAccessToManageCourseRegistrationsFor(
                        showPersonBean.person.id
                        )}">
                            <f:facet name="header">
                                <h:outputText value="#{msg['register.deRegister']}"/>
                            </f:facet>
                            <h:commandButton
                                    value="X"
                                    action="#{showCourseBean.removeStudentFromCourse(
                                    showPersonBean.person.id,
                                    c.id
                                    )}"
                            />
                        </h:column>
                    </h:dataTable>

                </h:form>
            </h:form>

        </ui:define>
    </ui:composition>
</f:view>
</html>
