<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<f:view>
    <h:head>
        <h:outputStylesheet name="css/loginRegister.css"/>
    </h:head>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">

        <ui:define name="content">

            <h:form rendered="#{loginBean.administratorAccess}">

                <f:event type="preRenderView"
                         listener="#{showCourseBean.loadGottenId}"/>

                <h1>
                    <h:outputText value="#{msg['register.student.registerStudentOnCourse']}"/>
                </h1>

                <h:form rendered="#{showCourseBean.course == null}">
                    <h:outputText value="#{param['id']} is not a valid course."/>
                </h:form>

                <h:form rendered="#{showCourseBean.course != null}">

                    <div class="registerDiv">
                        <h:form styleClass="registerForm">
                            <table class="registerTable">
                                <tr>
                                    <td>
                                        <b>
                                            <h:outputLabel value="#{msg['course.name']}"/>
                                        </b>
                                    </td>
                                    <td>
                                        <h:link outcome="#{navigator.navigate('course/show')}id=#{showCourseBean.course.id}">
                                            <h:outputText id="cIdentityName"
                                                          value="#{showCourseBean.course.name}"/>
                                        </h:link>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            <h:outputLabel value="#{msg['course.code']}"/>
                                        </b>
                                    </td>
                                    <td>
                                        <h:outputText id="cIdentityNumber"
                                                      value="#{showCourseBean.course.code}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            <h:outputLabel value="#{msg['register.students.title']}"/>
                                        </b>
                                    </td>
                                    <td>
                                        <h:dataTable value="#{listStudentsBean.searchResults}"
                                                     var="s">
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['general.name']}"/>
                                                </f:facet>
                                                <h:link outcome="#{navigator.navigate('student/show')}id=#{s.id}">
                                                    <h:outputText value="#{s.name}"/>
                                                </h:link>
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['general.emailAddress']}"/>
                                                </f:facet>
                                                <h:outputText value="#{s.email}"/>
                                            </h:column>
                                            <h:column>

                                                <h:commandButton
                                                        rendered="#{!showCourseBean.isCourseStudent(s.id)}"
                                                        value="[ ]" type="submit"
                                                        action="#{showCourseBean.addStudentToCourse(s.id)}"
                                                >
                                                    <f:param name="id" value="#{showCourseBean.course.id}"/>
                                                </h:commandButton>
                                                <h:commandButton
                                                        rendered="#{showCourseBean.isCourseStudent(s.id)}"
                                                        value="[X]"
                                                        action="#{showCourseBean.removeStudentFromCurrentCourse(s.id)}"
                                                >
                                                    <f:param name="id" value="#{showCourseBean.course.id}"/>
                                                </h:commandButton>

                                            </h:column>
                                        </h:dataTable>
                                    </td>
                                </tr>
                            </table>
                        </h:form>
                    </div>
                </h:form>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
