<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view locale="#{facesContext.externalContext.requestLocale}">
    <h:head>
        <title>School System</title>
        <h:outputStylesheet library="css" name="general.css"/>
    </h:head>
    <h:body>

        <div class="headerLinks">
            <h:form>
                <h:link value="#{msg['navbar.index']}"
                        outcome="#{navigator.navigate('index')}"/>

                <h:link value="#{msg['navbar.course']}"
                        outcome="#{navigator.navigate('course/list')}"/>


                <h:link value="#{msg['navbar.teacher']}"
                        outcome="#{navigator.navigate('teacher/list')}"/>

                <h:panelGroup rendered="#{loginBean.loggedIn}">
                    <h:link value="#{msg['navbar.student']}"
                            outcome="#{navigator.navigate('student/list')}"/>
                </h:panelGroup>

                <h:link value="#{msg['navbar.administrator']}"
                        outcome="#{navigator.navigate('administrator/list')}"/>


                <h:panelGroup rendered="#{loginBean.loggedIn}"
                              styleClass="navbarRight">

                    <h:link outcome="#{loginBean.profileLink}">
                        <h:outputText value="#{loginBean.userPerson.name} (#{loginBean.username})"/>
                    </h:link>

                    <h:commandLink value="#{msg['navbar.log.out']}"
                                   action="#{loginBean.logOut}"/>
                </h:panelGroup>

                <h:panelGroup styleClass="navbarRight">
                    <h:link value="#{msg['navbar.log.in']}"
                            outcome="#{navigator.navigate('login')}"
                            rendered="#{!loginBean.loggedIn}"/>
                </h:panelGroup>


            </h:form>
        </div>

        <div id="mainContent">
            <ui:insert name="content">Main content</ui:insert>
        </div>

        <ui:insert name="footer">
            <div id="footer">
                <p> #{application.serverInfo} </p>
            </div>
        </ui:insert>
    </h:body>
</f:view>
</html>
