<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <h:form>
                <h1>
                    <h:outputText value="#{msg['administrators.title']}"/>
                </h1>

                <h:form>
                    <h3>
                        <h:outputText value="#{msg['administrators.list']}"/>
                    </h3>

                    <h:inputText value="#{listAdministratorsBean.searchName}"/>
                    &nbsp;<h:commandButton value="#{msg['general.search']}"/>

                    <p/>

                </h:form>

                <h:form rendered="#{listAdministratorsBean.searchResultsAmount > 0}">
                    <hr/>

                    <h:dataTable value="#{listAdministratorsBean.searchResults}" var="s"
                                 border="1" cellpadding="5" cellspacing="0">

                        <h:column rendered="false">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{s.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.name']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('administrator/show')}id=#{s.id}">
                                <h:outputText value="#{s.name}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.phoneNumber']}"/>
                            </f:facet>
                            <h:outputText value="#{s.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.emailAddress']}"/>
                            </f:facet>
                            <h:outputText value="#{s.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.city']}"/>
                            </f:facet>
                            <h:outputText value="#{s.city}"/>
                        </h:column>
                    </h:dataTable>

                </h:form>

            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
