<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <h:form>
                <f:event type="preRenderView"
                         listener="#{showPersonBean.loadGottenId}"/>

                <h1>
                    <h:outputText value="#{msg['administrator.singular']}"/>
                </h1>

                <h:form rendered="#{showPersonBean.person == null}">
                    <h:outputText value="#{param['id']} is not a valid user."/>
                </h:form>


                <h:form rendered="#{showPersonBean.person != null}">

                    <h:link value="Edit" outcome="#{navigator.navigate('administrator/edit')}id=#{showPersonBean.person.id}"
                            rendered="#{showPersonBean.hasAccessToEdit(showPersonBean.person.id)}" style="margin: 30px 10px 20px" />

                    <table border="1" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.name']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.phoneNumber']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.phone}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.emailAddress']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.email}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="#{msg['general.city']}"/>
                            </td>
                            <td>
                                <h:outputText
                                        value="#{showPersonBean.person.city}"/>
                            </td>
                        </tr>
                    </table>

                </h:form>
            </h:form>

        </ui:define>
    </ui:composition>
</f:view>
</html>
