<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">

            <h:form rendered="#{loginBean.hasCourseAttendanceAccess(param['course'])}">

                <f:event type="preRenderView"
                         listener="#{attendanceStatsBean.loadAttendanceBasedOnGetParams}"/>
                <f:event type="preRenderView"
                         listener="#{showCourseBean.loadGottenId('course')}"/>

                <h1>
                    <h:outputText value="#{msg['attendance.attendance']}:
#{showCourseBean.course.name} (#{showCourseBean.course.code})"/>
                </h1>

                <h:form rendered="#{attendanceStatsBean.lessonsCoveredBySearch == null}">

                    No attendances found

                </h:form>


                <h:form rendered="#{attendanceStatsBean.lessonsCoveredBySearch != null}">

                    <h:dataTable value="#{attendanceStatsBean.lessonsCoveredBySearch}"
                                 var="l" border="1" cellpadding="5" cellspacing="0">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.singular']}"/>
                            </f:facet>

                            <h:link value="#{l.date} #{l.time}"
                                    outcome="#{navigator.navigate('lesson/show')}id=#{l.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.location']}"/>
                            </f:facet>

                            <h:outputText value="#{l.location}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['attendance.attended']}"/>
                            </f:facet>

                            <h:outputText value="#{attendanceStatsBean.totalAttendees(l)}"/>
                            <h:outputText value="/#{attendanceStatsBean.totalCourseStudents(l.course)}"/>
                            <h:outputText value=" (#{attendanceStatsBean.percentageDivision(
                            attendanceStatsBean.totalAttendees(l),
                            attendanceStatsBean.totalCourseStudents(l.course)
                            )}%)"/>
                        </h:column>
                    </h:dataTable>

                    <hr/>

                    <!-- average -->
                    <h:outputText value="#{msg['attendance.attendance']}:
                    #{attendanceStatsBean.averageAttendancePercentage}%"/>

                </h:form>
            </h:form>

        </ui:define>
    </ui:composition>
</f:view>
</html>
