<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <f:event type="preRenderView"
                     listener="#{editCourseBean.loadGottenId}"/>

            <h:form rendered="#{editCourseBean.course != null}">
                <div>
                    <table border="1" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.name']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editCourseBean.course.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.code']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editCourseBean.course.code}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.language']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editCourseBean.course.language}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.maxStudents']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editCourseBean.course.maxStudents}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.startDay']}"/>
                            </td>
                            <td>
                                <h:inputText
                                        value="#{editCourseBean.startDate}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.level']}"/>
                            </td>
                            <td>
                                <h:selectOneMenu value="#{editCourseBean.selectedLevelId}">
                                    <f:selectItems
                                            value="#{listLevelsBean.searchResults}"
                                            var="l" itemLabel="#{l.name}"
                                            itemValue="#{l.id}"/>
                                    <br/>
                                </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['course.teacher']}"/>
                            </td>
                            <td>
                                <h:selectOneMenu value="#{editCourseBean.selectedTeacherId}">
                                    <f:selectItems
                                            value="#{listTeachersBean.searchResults}"
                                            var="t" itemLabel="#{t.name}"
                                            itemValue="#{t.id}"/>
                                </h:selectOneMenu>
                            </td>
                        </tr>
                    </table>
                </div>
                <br/>
                <br/>
                <h:commandButton value="#{msg['general.save']}" action="#{editCourseBean.save()}"/>

                <h:commandButton styleClass="deleteButton" value="#{msg['general.delete']}" action="#{editCourseBean.delete(editCourseBean.course.id)}"
                                 rendered="#{editCourseBean.canDelete()}"/>

                <br/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
