<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <h:form>
                <h1>
                    <h:outputText value="#{msg['courses.title']}"/>
                </h1>

                <h:panelGroup rendered="#{loginBean.loggedIn}">
                    <h:link rendered="#{loginBean.administratorAccess}"
                            value="#{msg['course.registerCourse']}"
                            outcome="#{navigator.navigate('course/register')}"/>
                </h:panelGroup>
                <h:form>
                    <h3><h:outputText value="#{msg['courses.list']}"/></h3>

                    <h:inputText value="#{listCoursesBean.searchName}"/>
                    &nbsp;<h:commandButton value="#{msg['general.search']}"/>

                    <p/>

                </h:form>

                <h:form rendered="#{listCoursesBean.searchResultsAmount > 0}">
                    <hr/>

                    <h:dataTable value="#{listCoursesBean.searchResults}" var="c"
                                 border="1" cellpadding="5" cellspacing="0">

                        <h:column rendered="false">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{c.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.name']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('course/show')}id=#{c.id}">
                                <h:outputText value="#{c.name}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.code']}"/>
                            </f:facet>
                            <h:outputText value="#{c.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.language']}"/>
                            </f:facet>
                            <h:outputText value="#{c.language}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.maxStudents']}"/>
                            </f:facet>
                            <h:outputText value="#{c.maxStudents}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.startDay']}"/>
                            </f:facet>
                            <h:outputText value="#{c.startDay}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['course.level']}"/>
                            </f:facet>
                            <!-- TODO: possibility to change Level -->
                            <h:outputText value="#{c.level.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['teacher.singular']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('teacher/show')}id=#{c.teacher.id}">
                                <!-- TODO: possibility to change Teacher -->
                                <h:outputText value="#{c.teacher.name}"/>
                            </h:link>
                        </h:column>

                    </h:dataTable>

                </h:form>

            </h:form>
        </ui:define>
    </ui:composition>

</f:view>
</html>
