<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<f:view>
    <h:head>
        <h:outputStylesheet name="css/loginRegister.css"/>
    </h:head>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">

        <ui:define name="content">

            <h:form rendered="#{loginBean.administratorAccess}">

                <h1>
                    <h:outputText value="#{msg['course.registerCourse']}"/>
                </h1>

                <div class="registerDiv">

                    <!--//Register form-->
                    <h:form styleClass="registerForm">
                        <table class="registerTable">
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.code']}"/>
                                </td>
                                <td>
                                    <h:inputText id="cIdentityNumber"
                                                 value="#{addCourseBean.code}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.name']}"/>
                                </td>
                                <td>
                                    <h:inputText id="cName"
                                                 value="#{addCourseBean.name}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.level']}"/>
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{addCourseBean.levelId}">
                                        <f:selectItems
                                                value="#{listLevelsBean.searchResults}"
                                                var="l" itemLabel="#{l.name}"
                                                itemValue="#{l.id}" actionListener="\n"/>
                                        <br/>
                                    </h:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.language']}"/>
                                </td>
                                <td>
                                    <h:inputText id="cLanguage"
                                                 value="#{addCourseBean.language}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.maxStudents']}"/>
                                </td>
                                <td>
                                    <h:inputText id="cMaxStudents"
                                                 value="#{addCourseBean.maxStudents}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.startDay']}"/>
                                </td>
                                <td>
                                    <h:inputText id="cStartDay"
                                                 value="#{addCourseBean.startDay}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="#{msg['course.teacher']}"/>
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{addCourseBean.teacherId}">
                                        <f:selectItem itemLabel="-- #{msg['general.choose']} --"/>
                                        <f:selectItems
                                                value="#{listTeachersBean.searchResults}"
                                                var="t" itemLabel="#{t.name}"
                                                itemValue="#{t.id}"/>
                                    </h:selectOneMenu>
                                </td>
                            </tr>
                        </table>
                        <br/>

                        <br/>

                        <h:commandButton
                                value="#{msg['courses.add']}"
                                action="#{addCourseBean.addCourse}"/>

                        <h:messages errorClass="error"/>
                    </h:form>

                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>

</html>
