<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="../WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">

            <f:event type="preRenderView"
                     listener="#{showCourseBean.loadGottenId}"/>

            <h1><h:outputText value="#{msg['course.singular']}"/></h1>

            <h:form rendered="#{showCourseBean.course == null}">
                <h:outputText value="#{param['id']} is not a valid course."/>
            </h:form>


            <h:form rendered="#{showCourseBean.course != null}">

                <h:link value="#{msg['general.edit']}"
                        outcome="#{navigator.navigate('course/edit')}id=#{showCourseBean.course.id}"
                        rendered="#{loginBean.administratorAccess}"
                        styleClass="userProfileManagementLinks"/>
                <h:link value="#{msg['attendance.attendance']}"
                        outcome="#{navigator.navigate('course/attendance')}course=#{showCourseBean.course.id}"
                        rendered="#{loginBean.hasCourseAttendanceAccess(param['id'])}"
                        styleClass="userProfileManagementLinks"/>

                <table border="1" cellpadding="5" cellspacing="0" class="leftTable">
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.name']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showCourseBean.course.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.code']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showCourseBean.course.code}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.language']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showCourseBean.course.language}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.maxStudents']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showCourseBean.course.maxStudents}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.startDay']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showCourseBean.course.startDay}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['course.level']}"/>
                        </td>
                        <td>
                            <h:outputText
                                    value="#{showCourseBean.course.level.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msg['teacher.singular']}"/>
                        </td>
                        <td>
                            <h:link outcome="#{navigator.navigate('teacher/show')}id=#{showCourseBean.course.teacher.id}">
                                <h:outputText
                                        value="#{showCourseBean.course.teacher.name}"/>
                            </h:link>
                        </td>
                    </tr>
                </table>
                <br/>

                <h:panelGroup rendered="#{loginBean.loggedIn}"
                              styleClass="rightTable" layout="block">
                    <h3>
                        <h:outputText value="#{msg['lesson.plural']}"/>
                    </h3>
                    <h:link rendered="#{showCourseBean.course.teacher.id==
                    loginBean.userPerson.id}"
                            outcome="#{navigator.navigate('lesson/register')}course=#{showCourseBean.course.id}">
                        <h:outputText value="#{msg['lesson.add']}"/>
                    </h:link>
                    <h:dataTable value="#{showCourseBean.lessons}" var="l"
                                 border="1" cellpadding="5" cellspacing="0">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.day']}"/>
                            </f:facet>
                            <h:outputText value="#{l.date}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.time']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('lesson/show')}id=#{l.id}">
                                <h:outputText value="#{l.date} #{l.time}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['lesson.location']}"/>
                            </f:facet>
                            <h:outputText value="#{l.location}"/>
                        </h:column>
                        <h:column rendered="#{showCourseBean.personHasAccessToManageLessons(loginBean.userPerson.id)}">
                            <h:link outcome="#{navigator.navigate('lesson/edit')}id=#{l.id}">
                                <h:outputText value="#{msg['general.edit']}"/>
                            </h:link>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>

                <div class="clearer"/>

                <h:form rendered="#{loginBean.loggedIn}">
                    <h2>
                        <h:outputText value="#{msg['navbar.student']}"/>
                    </h2>

                    <h:link rendered="#{loginBean.administratorAccess}"
                            value="#{msg['register.students.addOnCourse']}"
                            outcome="#{navigator.navigate('studentOnCourse/register')}
                        id=#{showCourseBean.course.id}"/>

                    <h:panelGroup rendered="#{loginBean.studentAccess}">
                        <h:commandButton rendered="#{!showCourseBean.isCourseStudent(
                    loginBean.userPerson.id
                    )}"
                                         value="#{msg['register.registerOnCourse']}"
                                         action="#{showCourseBean.addStudentToCourse(loginBean.userPerson.id)}"/>
                        <h:commandButton rendered="#{showCourseBean.isCourseStudent(
                    loginBean.userPerson.id
                    )}"
                                         value="#{msg['register.deRegisterFromCourse']}"
                                         action="#{showCourseBean.removeStudentFromCurrentCourse(loginBean.userPerson.id)}"/>

                    </h:panelGroup>

                    <p/>

                    <h:dataTable value="#{showCourseBean.courseStudents}" var="s"
                                 border="1" cellpadding="5" cellspacing="0">

                        <h:column rendered="false">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{s.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.name']}"/>
                            </f:facet>
                            <h:link outcome="#{navigator.navigate('student/show')}id=#{s.id}">
                                <h:outputText value="#{s.name}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.phoneNumber']}"/>
                            </f:facet>
                            <h:outputText value="#{s.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.emailAddress']}"/>
                            </f:facet>
                            <h:outputText value="#{s.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['general.city']}"/>
                            </f:facet>
                            <h:outputText value="#{s.city}"/>
                        </h:column>
                    </h:dataTable>

                </h:form>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
