<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>

    <ui:composition template="WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">
            <h:form>
                <h1>
                    <h:outputText value="#{msg['index.title']}"/>
                </h1>

            </h:form>
        </ui:define>
    </ui:composition>

</f:view>
</html>
