<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <h:outputStylesheet name="css/loginRegister.css"/>
    </h:head>
    <ui:composition template="WEB-INF/templates/mainsiteTemplate.xhtml">
        <ui:define name="content">

            <h1>
                <h:outputText value="#{msg['login.title']}"/>
            </h1>

            <div class="registerLoginDiv">
                <h:form styleClass="loginForm"
                        rendered="#{!loginBean.loggedIn}">
                    <table class="registerLoginTable">
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['login.username']}"/>
                            </td>
                            <td>
                                <h:inputText value="#{loginBean.username}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputLabel value="#{msg['login.password']}"/>
                            </td>
                            <td>
                                <h:inputSecret value="#{loginBean.password}"/>
                            </td>
                        </tr>
                    </table>
                    <h:commandButton value="#{msg['login.login']}"
                                     action="#{loginBean.login}"/>


                    <h:messages errorClass="error"/>

                </h:form>
            </div>

        </ui:define>
    </ui:composition>

</f:view>
</html>
